@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amiri&family=Caveat&family=Caveat+Brush&family=Chewy&family=Josefin+Sans&family=Pacifico&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Rambla&family=Reem+Kufi&family=Reggae+One&family=Skranji&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', cursive;
    letter-spacing: 4px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 20px 20px;
}

.container,
.cat h1 {

    text-align: center;
}


.container .heading {
    width: 60%;
    padding-bottom: 20px;
}

.container .heading h1 {
    font-size: 2.5em;
    font-weight: bolder;
    border-bottom: 3px solid #76916b;
    color: rgb(75, 156, 18);

}

.cat h2 {
    font-size: 2.5em;
    font-weight: bolder;
    border-bottom: 3px solid #FF9800;
    color: rgb(247 149 0 / 95%);

}



.koala-section h2 {
    font-size: 2.5em;
    font-weight: bolder;
    border-bottom: 3px solid #90916b;
    color: rgb(177, 156, 93);
}

.frog h2 {
    font-size: 2.5em;
    width: 100%;
    font-weight: bolder;
    border-bottom: 3px solid #260171;
    color: #0e2d93;
}

.container .heading h1 span {
    font-weight: 600;

}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}


.container .box .all img {
    width: 18%;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 5px;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.cat {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

}

.inner-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

}

.cat1-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 25%;
    height: 500px;

}

.cat1-img img {
    flex-grow: 1;
    width: 100%;
    height: 32.7%;
    border-radius: 5px;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;

}

.display-column {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 75%;
    height: 500px;

}

.cat2-img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 500px;

}

.cat2-img img {

    width: 32%;
    height: 50%;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 5px;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;

}



.koala-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    width: 90%;
}

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;

}

.koala-img img {
    width: 34.33%;
    flex-grow: 1;
    border-radius: 5px;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.koala {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.koala-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    box-sizing: border-box;

}

.koala-information ul {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    padding-bottom: 10px;

}

.koala-information ul li {
    font-family: 'Reem Kufi';
    letter-spacing: 0;
    padding: 8px;
    background-color: rgb(255, 252, 214);
    margin-bottom: 3%;
}

.koala-img2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
    width: 60%;
    align-items: center;

}

.koala-img2 img {
    height: 60%;
    width: 50%;
    flex-grow: 1;
    border-radius: 5px;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.frog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex-grow: 1;

}

.frog-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    gap: 10px;
    width: 100%;

}

.frog-flex img {
    width: 32.33%;
    flex-grow: 1;
    border-radius: 5px;
    transition: transform 0.7s ease-in-out;
}

img {
    position: relative;
}

img:hover {
    transform: scale(.97);
}

.another {
    display: flex;
    flex-direction: column;

}

.another h2 {
    font-size: 2.5em;
    font-weight: bolder;
    border-bottom: 3px solid #ff0019;
    color: rgba(247, 0, 0, 0.95);

}

.first-animal,
.second-animal,
.third-animal {
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #f7f7f778;
    gap: 16px;
    text-align: start;
    padding: 16px;
    box-sizing: border-box;
    font-size: 1.1em;
}

.first-animal h3,
.second-animal h3,
.third-animal h3 {
    letter-spacing: 0;

}

.first-animal p,
.second-animal p,
.third-animal ul li {
    letter-spacing: 0;
}

.first-animal p::before {

    content: "•";
    color: rgb(255, 0, 0);
    display: inline-block;
    width: 1em;

}

.second-animal p::before {

    content: "•";
    color: rgb(255, 0, 0);
    display: inline-block;
    width: 1em;

}

.third-animal ul li::before {

    content: "•";
    color: rgb(255, 0, 0);
    display: inline-block;
    width: 1em;

}

.third-animal ul li {
    margin-bottom: 2%;
    margin-left: 2%;
    list-style: none;


}

.another-flex1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;

}

.another-img1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    flex-grow: 1;
    margin-top: 10px;
}

.another-img1 img {
    width: 30%;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 5px;
}

details {
    width: 100%;

}

@media only screen and (max-width : 843px) {
    .container .heading {
        width: 100%;
        padding-bottom: 20px;
    }

    .container .heading h1 {
        font-size: 2em;
        font-weight: bolder;
        border-bottom: 3px solid #222;

    }

    .cat h2,
    .koala-section h2,
    .another h2 {
        font-size: 2em;


    }

    .koala-img2 img {
        height: initial;
        width: 50%;
        flex-grow: 1;
        border-radius: 5px;
        transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    }


    .cat2-img img {
        width: 100%;
        height: 23.5%;
        flex-grow: 1;
        flex-basis: 0;
        border-radius: 5px;
        transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;

    }

    .frog h2 {
        font-size: 2em;

    }

    .koala-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-top: 20px;
        font-size: 1.1em;

    }

    .flex-end {
        width: 100%;
        height: 100%;

    }

    .koala-img {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        height: 100%;
        width: 100%;
    }

    .koala-img img {
        width: 100%;
        height: 81%;
        flex-grow: 1;
        border-radius: 5px;
        transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    }

    .koala-img2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-grow: 1;
        width: 60%;

    }

    .another-flex1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;

    }

    .first-animal,
    .second-animal,
    .third-animal {

        width: 100%;

    }
}